version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db

  backend:
    image: sms-backend:v2
    container_name: backend
    ports:
      - 5000:5000
    depends_on:
      - mongo

  frontend:
    image: sms-frontend:v1
    container_name: frontend
    ports:
      - 3000:80
    depends_on:
      - backend

volumes:
  mongo_data:
